nav{
  display: flex;
  justify-content: space-between;
  padding: 0 7.5vw;
  height: 60px;
  align-items: center;
}

section.home{
  padding: 0 7.5vw;
  display: flex;
  flex-direction: column;
  height: calc(100vh-60px);
  background-color: rgba(0, 0, 0, 0.05);
}

.task-content{
  display: flex;
}

.task-container{
  flex: 1;
  padding: 0 8px;
}

.section-title{
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.section-description{
  width: 400px;
  /* font-weight: 500;
  font-size: 16px; */
  margin-bottom: 36px;
}

.task-container-title{
  font-weight: bold;
  margin-bottom: 8px;
}

.task-card{
  padding: 16px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dialog{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.card{
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.add-task-form{
  height: 400px;
  width: 400px;
}

.slideTop{
  animation: slideTop 1s ease 0.4s;
}

@keyframes slideTop{
  from{
    transform: translateY(-100%);
    opacity: 0;
  } to{
    transform: translateY(0%);
    opacity: 100%;
  }
}